figure > img {
  width: 100%;
  height: auto;
}

figure > figcaption {
  font-style: italic;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  /* Without these two attributes, mobile browsers give some lines of formatted
     code larger fonts. */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
}

#kyoani-banner {
  background-color: black;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.kyoani-banner-link {
  color: #e6521e;
}

.kyoani-banner-link:hover {
  color: #e6521e;
  text-decoration: underline;
}

header {
  display: initial;
}

#banner {
  color: grey;
  padding: 0 2rem;
}

.logo-text {
  box-shadow: 0 0 2px black;
  color: white;
  margin: 0 5px;
  font-size: 2rem;
}

#types {
  background-color: #21a1ff;
}

#logics {
  background-color: #ff2a2a;
}

#cats {
  background-color: #58d758;
}

nav {
  background-color: grey;
  width: 100%;
  box-shadow: 0 0 3px grey;
/*position:sticky;
  z-index : 1000;
  top: 0;*/
}

nav > ul {
  display: flex;
  width: 80%;
  max-width: 500px;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  flex: 1;
  height: 3rem;
}

nav > ul > li > a {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 3rem;
}

nav > ul > li > a:hover {
  background-color: white;
  color: black;
}

main {
  background-color: #50bcff;
  box-shadow: 0 0 3px grey;
  color: white;
  overflow: auto;
}

section {
  background-color: white;
  color: #505050;
  border-radius: 1rem;
  margin: 2em auto;
  padding: 2em 5%;
  box-shadow: 0 0 3px grey;
  width: 80%;
  max-width: 700px;
}

footer {
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
}

h2, h3 {
  text-align: center;
}

a {
  color: #00a0ff;
  text-decoration: none;
}

a:hover {
  color: #0080ef
}

code {
  display: inline-block;
  font-size: 1rem;
  padding: 0 5px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

/* In the HTML generated by Pandoc, the <code> elements outside a <pre> element
   are inline code and the <code> elements inside a <pre> element are
   block-displayed code. */
pre code {
  border: none;
  border-radius: 0;
}

/* Override the attribute set by the highlighting CSS so that scroll bars in
   code snippets work properly */
code.sourceCode {
    overflow: visible;
}

pre.sourceCode {
  overflow: auto;
}

p {
  margin-bottom: 1.5rem;
}

pre {
  line-height: 1;
  overflow: auto;
  padding: 5px 0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

code, pre {
  background-color: #f7f7f7;
}

ul {
  list-style-type: disc;
}

ul.post-list {
  list-style-type: none;
}

div.post-list-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
