<section>
  <h1>Posts</h1>
  <ul class='post-list'>
    $for(posts)$
      <li>
        <div class='post-list-item'>
          <a href='$url$'>$title$</a><br/>
          $published$<br/>
          $summary$
        </div>
      </li>
    $endfor-$
  </ul>
</section>
